In [ ]:
student = {}

In [ ]:

id = str(input("Enter your id: "))
name = input("Enter your name: ")
age = input("Enter your age: ")
phone_number = input("Enter your phone number: ") 
data={}
data['name']= name
data['age']= int(age)
data['phone number']= str(phone_number)
student[id]=data
print(student[])

Enter your id: 546141
Enter your name: 1641684
Enter your age: 6461416
Enter your phone number: 654164
{'1': {'name': '819', 'age': 918, 'phone number': '9198191'}, '11': {'name': '4844', 'age': 646846, 'phone number': '6874678'}, '546141': {'name': '1641684', 'age': 6461416, 'phone number': '654164'}}

In [ ]:
print(student["11"])

{'name': '4844', 'age': 646846, 'phone number': '6874678'}